body{
    font-family: Tahoma, Arial;
    margin: 0 0 0 0;
    background-color: #038387;
    height: 93%;
}

nav{
    position: fixed;
    height: 3em;
    width: 100%;
    bottom: 0;
    background-color: #C6C3C6;
    border-top: 2px solid #FFF;
    box-shadow: inset 0.1em -0.1em 0.2em #000000;
    
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 8%;
    align-content: center;    
}

.main{
    display: grid;

}

.home{
    /*background-color: #D4D0C8;*/
    background-color: #d3ccbc;
    grid-column: span 2;
    margin-left: 1vw;
    margin-right: 1vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.homeimg{
    width: 2.5em;
    grid-column: span 1;
}

.hometext{
    grid-column: span 2;
}

.item{
    cursor: pointer;
    display: grid;
    padding-left: 1vh;
    align-items: center;
    box-shadow: inset -0.1em -0.1em .2em;
    margin-left: 1vw;
    border-top: 2px solid #FFF;
    border-left: 1px solid #FFF;
    font-weight: bolder;
    color:black;
    height: 100%;
}

.item:hover, .social:hover{
    background-color: antiquewhite;
}
.socials{
    display: grid;
    grid-template-columns: auto auto auto;
    border: inset #ffffff 2px;
}

.social{
    cursor: pointer;
    display: grid;
    place-items: center;
}

.socialimg{
    height: 3vh;
    cursor: pointer;
}


a{
    text-decoration: inherit;

    color: inherit;
    cursor: auto;
}
a.visited{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
