body{
    font-family: Helvetica;
    background-color: #25282C;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
}

#body{
    display: grid;
    place-items: center;
}

input{
    font-family: Helvetica;
    width: 80%;
    height: 5vh;
    background: none;
    border: none;
    border-bottom: solid 1px #FFF;
    color: #FFF;
}

#input_section{
    width: 50%;
    display: grid;
    place-items: center;    
    grid-template-columns: auto 5% auto 10% 10%;
}

input::placeholder{
    color: #4c535c;
}

input:focus{
    outline: none;
    border: none;
    border-bottom: solid 2px #FFF;
    background-color: #191C20;
}

#add{
    width: 100%;
}


#songList-grid{
    width: 50%;
    display: grid;
    border-radius: 0.5em;
    background-color: #191C20;
    place-items: center;
}

/*-----------------TABLE: SONG LIST-----------------*/
#songList{
    width: 98%;
    border-collapse: collapse;
}

#songList td, #songList th{
    padding-top: 1em;
    padding-bottom: 1em;
}

#songList th{
    border-bottom: solid 3px #3D4249;
    color: white;
    font-weight: bolder;
}
.song{
    cursor: pointer;
    border-top: solid 1px #3D4249;
}
.song:hover{
    background-color: #111417;
}
/*--------------------------------------------------*/

#lyrics{
    text-align: center;
}


.deletable:hover{
    background-color: #ffadad !important;
}