body{
    font-family: Helvetica;
    background-color: #25282C;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
}

input{
    font-family: Helvetica;
    height: 5vh;
    font-size: 2vh;
    background: none;
    border: none;
    border-bottom: solid 1px #FFF;
    color: #FFF;
}

input::placeholder{
    color: #4c535c;
}

input:focus{
    outline: none;
    border: none;
    border-bottom: solid 2px #FFF;
}


#songList-grid{
    width: 50%;
    display: grid;
    border-radius: 0.5em;
    background-color: #191C20;
    place-items: center;
}

/*-----------------TABLE: SONG LIST-----------------*/
#songList{
    width: 98%;
    border-collapse: collapse;
}

#songList td, #songList th{
    padding: 1em;
}

#songList th{
    border-bottom: solid 3px #3D4249;
    color: white;
    font-weight: bolder;
}
.song{
    cursor: pointer;
    border-top: solid 1px #3D4249;
}
.song:hover{
    background-color: #111417;
}
/*--------------------------------------------------*/


.deletable:hover{
    background-color: #ffadad !important;
}