body{
    font-family: Helvetica;
}


#songList-grid{
    width: 60%;
    display: grid;
    grid-template-columns: 90% 10%;
}

/*-----------------TABLE: SONG LIST-----------------*/
#songList{
    border-collapse: collapse;
}

#songList td, #songList th{
    border: 1px solid #ddd;
    padding: 1em;
}

#songList tr:nth-child(even){
    background-color: #dedede;
}
#songList tr:hover{
    background-color: #b1b1b1;
}

#songList th{
    background-color: #cb523d;
    color: white;
    font-weight: bolder;
}
/*--------------------------------------------------*/

.song{
    cursor: pointer;
}

.deletable:hover{
    background-color: #ffadad !important;
}